.chatPage{
    background-color: rgba(0, 0, 0, 0.767);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatContainer{
    background-color: aliceblue;
    height: 80%;
    width: 35%;   
}
.chatHeader{
    background-color: teal;
    border-bottom: 2.3px solid rgba(0, 0, 0, 0.417);
    height: 15%;
}
.chatBox{
    height: 70%;
    border:none;
    box-sizing: border-box;
}
.inputBox{
    border-top:  0.2vmax solid rgba(0, 0, 0, 0.426);
    height: 15%;
    box-sizing: border-box;
    display: flex;

}

#chatInput{
    width:81%;
    border: none;
    padding: 1vmax;
    background-color: aliceblue;
    outline: none;
    font-size: 1.2vmax;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sendBtn{
    background-color: teal;
    color: white;
    border: none;
    width: 21%;
    height: 100%;
    margin-right: 0%;
    margin-top: 0%;
    transition: all 0.2s;
    cursor: pointer;
    
}

.sendBtn > img {
    width: 30%;
    filter: brightness(100) invert();
    transition: all 0.3s;
}
.sendBtn:hover{
    background-color: rgb(4, 56, 56);
}

.sendBtn:hover img{
    transform: translateX(10px);
} 
#image1{
    width: 20%;
    height: 100%;
}

#image2{
    float: right;
    margin-top: 3%;
    margin-right: 2%;
    transition: 0.3s;
}
#image2:hover{
    transform: scale(1.2);
}